<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>

<ion-content fullscreen #mycontent >
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-fab bottom right>
    <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="dark" (click)="launchDialer('+1(256)457-2035')"><ion-icon name="call"></ion-icon></button>
      <button ion-fab color="dark" (click)="support()"><ion-icon name="help"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-card *ngFor="let truck of trucks" tappable>
    <img [src]="truck.pic">
      <ion-row>
        <h2>{{truck.name}} </h2>
        <p class="imondp">{{truck.pump}}, {{truck.tank}}, {{truck.category}} </p>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="social-usd"></ion-icon>
            <div>{{truck.price}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button color='danger' round icon-left class="imondcap" small>
            {{truck.warranty}}
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

</ion-content>
