// @font-face{
// font-family: 'Fjalla One';
// src: url('../assets/fonts/fjallaone.woff2') format('woff2');
// }
//  @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/gFXtEMCp1m_YzxsBpKl68iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
// }

@font-face {
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 200;
  src: local('Pangolin Regular'), local('Pangolin-Regular'), url(https://fonts.gstatic.com/s/pangolin/v2/S-1BH_7IXzlH4pDCWaJVlPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
*{
font-family: 'Pangolin';
}

ion-menu{
    ion-content{
        background-color:rgba(224,222,225,1) !important;
    }
}
    
ion-header {
    display: block;
    background: url('../assets/images/bmfa.jpg');
    overflow: hidden;
}

.imondcap{
    text-transform: capitalize;
}
.imondp{
    color:red;
}
.imondtrans{
    background-color:rgba(36,42,49,0.8) !important;
}

.trans {
    background-color: rgba(0,0,0,0);
    color:#242A31;
}

.hide-card {
  -webkit-box-shadow: none!important;
}

.cta {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
}

.imond {
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
}
.custom-avatar {
  height: 30vw;
  width: 30vw;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
